<div class="navbar navbar-expand-lg sticky-top navbar-lewagon navbar-dark" style="background-color:#0B5ED7;">
  <%= link_to movie_infos_path, class: "nav-link nav-link-style ms-3" do %>
    <h4 style="color: white;"><strong>Helpjuice searchbox</strong></h4>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Movie Catalog", movie_infos_path, class: "nav-link nav-link-style"%>
      </li>
      <li class="nav-item">
        <%= link_to "See analytics", search_queries_path, class: "nav-link nav-link-style"%>
      </li>
    </ul>
  </div>
</div>
